body {
	background-color: whitesmoke;
}

.de-nav-text {
	text-transform: none;
	color: black;
}
.round {
	width: 40px;
	height: 40px;
    border-radius: 50%; /* Радиус скругления */
  }

 .de-con-image {
 	width: 80%;
 	margin-left: 70px;
 }

.uk-section{
	padding-top: 0;
	padding-bottom: 0;
}

.de-nav-back {
	margin-bottom: 1px;
}

.de-flex-width {
	float: left;
	background-size: cover;
	display: inline-block;
	vertical-align: top;

}

.de-flex-width img {
	max-width: auto;
	max-height: 120px;
}

.de-active {
	color: #1e87f0;
}

.de-calendar {
	width: 120px;
	height: 150px;
	position: absolute; 
	top: -560px; 
}

.de-play {
	width: 90px;
	height: 90px;
	left: 470px;
	top: -300px;
}

.de-date {
	margin-top: -15px;
	font-size: 42pt;
}

